$sort--horizontal-padding: 7px;

.meta--bar {
    margin-bottom: $spacer-lg;
}
.meta--bar__push {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.meta--title {
    font-size: 1.5em;
}
.meta--info span {
    display: block;
    text-align: right;
}
.info--players {
    font-size: .8em;
}

.meta--sort {
    margin-right: -$sort--horizontal-padding;
    li {
        display: inline-block;
    }
}
.meta--anchor,
.meta--anchor__open {
    margin-right: 5px;
    padding: 3px $sort--horizontal-padding;
    border-radius: 3px;
    font-size: .8em;
    color: $black;
    text-decoration: none;
    transition: $transition;

    &:hover {
        background: lighten($black, 80%);
        cursor: pointer;
    }
}
.meta--anchor {
    border: 1px solid $black;

    &.active {
        background: $black;
        color: $white;
    }
}
