.grid {
    display: grid;
    grid-template-columns:
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, $container-width) [container-end]
        minmax(1em, 1fr) [viewport-end];
}
.grid--contained {
    grid-column: container;
}
.grid--full {
    grid-column: viewport;
    display: inherit;
    grid-template-columns: inherit;
}
.grid--full * {
    grid-column: container;
}


.pack--list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include query(hand, max) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include query(palm, max) {
        grid-template-columns: repeat(2, 1fr);
    }
}


.pick--list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    @include query(hand, max) {
        grid-template-columns: repeat(5, 1fr);
    }

    @include query(palm, max) {
        grid-template-columns: repeat(3, 1fr);
    }
}
