.with--bumper {
    margin: $spacer-element 0;
}
.with--bumper__top {
    margin-top: $spacer-element;
}
.with--bumper__bottom {
    margin-bottom: $spacer-element;
}

.align--right {
    text-align: right;
}
.align--left {
    text-align: left;
}
.align--center {
    text-align: center;
}
