@import "reset";

$black: #222222;
$blue:  #97DCFF;

$active: $blue;

$spacer-sm: .5em;
$spacer:    .75em;
$spacer-lg:  1em;

$container-width: 50em;

$transition: .15s ease all;

body {
    font: 16px "Roboto Condensed", helvetica, sans-serif;
    color: $black;
    padding-bottom: $spacer-lg;
}

// page layout
.grid {
    display: grid;
    grid-template-columns:
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, $container-width) [container-end]
        minmax(1em, 1fr) [viewport-end];
}

.grid--contained {
    grid-column: container;
}

.grid--full {
    grid-column: viewport;
    display: inherit;
    grid-template-columns: inherit;
}

.grid--full * {
    grid-column: container;
}

// cards
.card {
    img {
        max-width: 100%;
        height: auto;
    }
}

// pack layout
.pack--list {
    display: grid;
    grid-template-columns: repeat(5, minmax(20%, 1fr));
}

// pick list
.pick--list {
    display: grid;
    grid-template-columns: repeat(7, minmax(calc(100%/7), 1fr));
}

// typography
.site--title {
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    margin: $spacer 0 $spacer-lg;
}


// meta bars
$sort--horizontal-padding: 7px;

.meta--bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $spacer-sm;
}
.meta--title {
    font-size: 1.5em;
}
.meta--info span {
    display: block;
    text-align: right;
}
.info--players {
    font-size: .8em;
}

.meta--sort {
    margin-right: -$sort--horizontal-padding;
    li {
        display: inline-block;

    }
}
.sort--anchor {
    font-size: .8em;
    color: $black;
    text-decoration: none;
    padding: 3px $sort--horizontal-padding;
    border-radius: 3px;
    transition: $transition;

    &.sort--anchor__small {
        border-radius: 50%;
    }
    &:hover {
        background: lighten($active, 10%);
        cursor: pointer;
    }
    &.active {
        background: $active;
    }
}
